.direnv
__marimo__
.venv
*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

.mamba

# Compiled javascript

# OS X
.DS_Store
TODO
